{% extends 'base.html' %}

{% block title %}
    New Buyer
{% endblock %}

{% block body %}
    <div class="card">
        <h2 class="form-header">Add New Buyer</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn-primary" style="width: 100%;;margin-top: 1rem;">
                <svg xmlns="http://www.w3.org/2000/svg" style="margin:0 5px 0 0" width="1.2rem" height="1.2rem" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M3 21v-1c0 -2.21 1.79 -4 4 -4h4c2.21 0 4 1.79 4 4v1"/><path d="M9 13c-1.66 0 -3 -1.34 -3 -3c0 -1.66 1.34 -3 3 -3c1.66 0 3 1.34 3 3c0 1.66 -1.34 3 -3 3Z"/><path d="M15 6h6"/><path d="M18 3v6"/></g></svg>
                Add Buyer
            </button>
        </form>
    </div>
{% endblock %}