<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | PaperPowers</title>
    <style>
        :root {
          --bg-color: #1F2937;
          --hover-bg-color: #374151;
          --highlight-color: #111827;
          --active-text-color: #FFFFFF;
          --text-color: #9CA3AF;
          --primary-accent: #1D4FD9;
          --hover-accent: #8d8bfe  ;
        }
      </style>
      
</head>

<body class="bg-[var(--color-secondary)]">
    {% include 'header.html' %}

    <div class="grid grid-cols-12">
        <div class="col-span-8 col-start-3">
            {% block body %}
            {% endblock body %}
        </div>
    </div>

    {% load static %}
    <script src="{% static 'scripts.js' %}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</body>

</html>