{% extends 'base.html' %}

{% block title %}
    Add New Invoice
{% endblock title %}

{% block body %}
    <div>
        <h2>Add New Invoice</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="buyerID">Select Buyer by ID:</label>
            <select name="buyerID" id="buyerID">
                {% for buyer in buyers %}
                    <option value="{{ buyer.buyerID }}">{{ buyer.buyerID }}</option>
                {% endfor %}
            </select>

            <div id="items-container">
                <div class="item-row">
                    <label for="itemName">Item Name:</label>
                    <input type="text" name="itemName" required>

                    <label for="rate">Rate:</label>
                    <input type="number" name="rate" required>

                    <label for="gst">GST:</label>
                    <input type="number" name="gst" required>

                    <label for="qty">Quantity:</label>
                    <input type="number" name="qty" required>

                </div>
            </div>

            <button type="button" id="add-item">Add Another Item</button>
            <button type="submit">Add Invoice</button>
        </form>
    </div>

{% endblock body %}