<nav class="bg-[var(--bg-color)]">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <h1 class="font-cormorant text-[var(--active-text-color)]" style="font-size: 28px;">Paper Powers</h1>
                        <a href="/"
                            class="rounded-md bg-[var(--highlight-color)] px-3 py-2 text-sm font-medium text-[var(--active-text-color)]">Dashboard</a>
                        <a href="/inv/list"
                            class="rounded-md px-3 py-2 text-sm font-medium text-[var(--text-color)] hover:bg-[var(--hover-bg-color)] hover:text-[var(--active-text-color)]">Invoices</a>
                        <a href="/buyers"
                            class="rounded-md px-3 py-2 text-sm font-medium text-[var(--text-color)] hover:bg-[var(--hover-bg-color)] hover:text-[var(--active-text-color)]">Buyers</a>
                    </div>
                </div>
            </div>

            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <div class="relative ml-3">
                    <button onclick="window.location.href='/inv/generate'"
                        class="flex items-center gap-2 rounded-md border-2 px-3 py-1.5 text-[var(--active-text-color)] bg-[var(--primary-accent)] border-[var(--primary-accent)] hover:bg-[var(--hover-accent)] hover:border-[var(--hover-accent)] hover:text-[var(--active-text-color)] transition">
                        <svg class="size-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        Generate Invoice
                    </button>

                </div>
            </div>
        </div>
    </div>
</nav>