{% extends 'base.html' %} 
{% block title %} Invoice {{ invoice.invNum}} {% endblock %} 
{% block body %} 
Invoice View

<form method = 'post' action="drop/{{invoice.invId}}">
    {% csrf_token %}
    <button type="submit">Delete</button>
</form>

<!-- here, url is Django's built in template tag for dynamically generating URLs -->
 <!--editInvoice is the name i gave to edit url pattern in urls.py  -->
<a href="{% url 'editInvoice' pk=invoice.invId %}">
                    <button type="button">Edit</button>
                </a>

<p>{{invoice.invId}}</p>
<p>{{invoice.invNum}}</p>
<p>{{invoice.date}}</p>
<p>{{invoice.buyerId.name}}</p>

{% for item in items %}
<div>
    {{item.itemName}}
    {{item.rate}}
    {{item.gst}}
    {{item.qty}}
</div>
{% endfor %}
{% endblock %}
