{% extends 'base.html' %}

{% block title %}
    Invoice List
{% endblock %}

{% block body %}
    List of all Invoices
    <a href="generate">
        Generate new Invoice
    </a>


    <div>
        {% for invoice in invoices %}
            <p>{{forloop.counter}}.
                {{ invoice.invNum }} - 
                {{ invoice.buyerId.name }} - 
                {{ invoice.date }}
                <button onclick="window.location.href='/inv/{{invoice.invId}}'">View</button>
            </p>
        {% endfor %}
    </div>
{% endblock %}