{% extends 'base.html' %}
{% load static %}

{% block title %}
Invoice {{ invoice.invNum}}
{% endblock %}
{% block body %}

<div style="display: flex; justify-content: center; align-items: flex-start; gap: 15px;">
  <div style="flex: 0.5; max-width: 250px;"></div>

  <div id="invoice" class="card" style="flex: 1.5; min-width: 700px;">
    <div style="display: flex; align-items: center; justify-content: space-between">
      <div>
        <h3>Invoice {{invoice.invNum}}</h3>
      </div>
    </div>
    
    <div style="display: flex; gap: 2px; margin-bottom: 1rem">
      <div style="flex: 1">
        <div class="form-field" style="gap: 1px">
          <label>Buyer:</label>
          <p>{{ invoice.buyerId.name }}</p>
          <p>GSTIN: {{ invoice.buyerId.gstin }}</p>
          <p>{{ invoice.buyerId.adr1 }}</p>
          <p>{{ invoice.buyerId.adr2 }}</p>
          <p>{{ invoice.buyerId.state }}, {{ invoice.buyerId.pin }}</p>
        </div>
      </div>
      <div style="flex: 1">
        <div class="form-field">
          <label>Invoice Number: </label>
          <p>{{invoice.invNum}}</p>
        </div>
        
        <div class="form-field" style="width: 80%">{{ invoice.date }}</div>
      </div>
    </div>
    
    <div class="form-table-container">
      <table class="form-table" id="item-table">
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Rate</th>
            <th>GST %</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr class="item-row">
            <td>
              <div class="form-field">{{ item.itemName }}</div>
            </td>
            <td>
              <div class="form-field">{{ item.rate }}</div>
            </td>
            <td>
              <div class="form-field">{{ item.gst }}</div>
            </td>
            <td>
              <div class="form-field">{{ item.qty }}</div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="totals" style="text-align: right; margin-top: 2rem; font-weight: 500">
        <p>Subtotal: <span id="subtotal-display">{{ invoice.subTotal }}</span></p>
        <p>Total GST: <span id="gst-total-display">{{ invoice.gstTotal }}</span></p>
        <p>Grand Total: <span id="grand-total-display">{{ invoice.grandTotal }}</span></p>
      </div>
    </div>
  </div>

  <div class="card" style="flex: 0.5; max-width: 250px; height: fit-content; margin-top: 50px;">
    <div style="display: flex; flex-direction: column; gap: 10px;">
      <div style="display: flex; gap: 10px;">
        <a href="{% url 'editInvoice' pk=invoice.invId %}" style="flex: 1;">
          <button type="button" class="btn-secondary" style="width: 100%;">
            <svg xmlns="http://www.w3.org/2000/svg" style="margin: 0 5px 0 0;" width="1.2rem" height="1.2rem" viewBox="0 0 24 24"><path fill="currentColor" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h6.525q.5 0 .75.313t.25.687t-.262.688T11.5 5H5v14h14v-6.525q0-.5.313-.75t.687-.25t.688.25t.312.75V19q0 .825-.587 1.413T19 21zm4-7v-2.425q0-.4.15-.763t.425-.637l8.6-8.6q.3-.3.675-.45t.75-.15q.4 0 .763.15t.662.45L22.425 3q.275.3.425.663T23 4.4t-.137.738t-.438.662l-8.6 8.6q-.275.275-.637.438t-.763.162H10q-.425 0-.712-.288T9 14m12.025-9.6l-1.4-1.4zM11 13h1.4l5.8-5.8l-.7-.7l-.725-.7L11 11.575zm6.5-6.5l-.725-.7zl.7.7z"/></svg>
            Edit
          </button>
        </a>
        
        <form id="deleteForm" method="post" action="drop/{{invoice.invId}}" style="flex: 1;">
          {% csrf_token %}
          <button type="button" class="btn-destructive" style="width: 100%;" onclick="showConfirmModal(this.form)">
            <svg xmlns="http://www.w3.org/2000/svg" style="margin:0 5px 0 0" width="1.2rem" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM9 17h2V8H9zm4 0h2V8h-2zM7 6v13z"/></svg>
            Delete
          </button>
        </form>
      </div>
      
      <button class="btn-primary" style="width: 100%;" onclick="window.print()">
        <svg xmlns="http://www.w3.org/2000/svg" style="margin: 0 5px 0 0;" width="1.2rem" height="1.2rem" viewBox="0 0 24 24"><path fill="currentColor" d="M16 8V5H8v3H6V3h12v5zM4 10h16zm14 2.5q.425 0 .713-.288T19 11.5t-.288-.712T18 10.5t-.712.288T17 11.5t.288.713t.712.287M16 19v-4H8v4zm2 2H6v-4H2v-6q0-1.275.875-2.137T5 8h14q1.275 0 2.138.863T22 11v6h-4zm2-6v-4q0-.425-.288-.712T19 10H5q-.425 0-.712.288T4 11v4h2v-2h12v2z"/></svg>
        Print
      </button>
    </div>
  </div>
</div>

<div id="confirmModal" class="modal">
  <div class="modal-content">
    <h4>Are you sure you want to delete Invoice #{{ invoice.invNum }} </h4>
    <div class="modal-buttons">
      <button type="button" class="btn-secondary" onclick="hideConfirmModal()">Cancel</button>
      <button type="submit" class="btn-destructive" onclick="submitModalForm()">
        <svg xmlns="http://www.w3.org/2000/svg" style="margin:0 5px 0 0" width="1.2rem" height="1.2rem" viewBox="0 0 24 24"><path fill="currentColor" d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM9 17h2V8H9zm4 0h2V8h-2zM7 6v13z"/></svg>
        Confirm Delete
      </button>
    </div>
  </div>
</div>

<script src="{% static 'modal.js' %}" defer></script>

{% endblock %}