{% load static %} {% block navbar %}
<div class="navbar-container">
  <nav class="navbar">
    <div style="font-weight: 700; font-size: 1.5rem; color: #1e293b">
      <a href="/" class="nav-link"> InvoiceGen </a>
    </div>

    <div class="nav-links-group">
      <a
        href="/inv/list"
        class="nav-link {% if request.path == '/inv/list' %}active{% endif %}"
      >
        All Invoices
      </a>

      <a
        href="/buyers/"
        class="nav-link {% if request.path == '/buyers/' %}active{% endif %}"
      >
        Buyers
      </a>

      <a
        href="/profile/"
        class="nav-link {% if request.path == '/profile/' %}active{% endif %}"
      >
        Profile
      </a>

      <button
        class="btn-secondary"
        onclick="location.href='/inv/generate'"
        style="display: flex; align-items: center; gap: 0.5rem"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1.2rem"
          height="1.2rem"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h6v2H5v14h14v-6h2v6q0 .825-.587 1.413T19 21zm11-10V8h-3V6h3V3h2v3h3v2h-3v3z"
          />
        </svg>
        Generate new Invoice
      </button>
    </div>
  </nav>
</div>
{% endblock %}
