{% extends 'base.html' %}

{% block title %}
    Edit Profile
{% endblock %}

{% block body %}
    <div class="card">
        <h2 class="form-header">Edit Profile</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn-primary" style="width: 100%;;margin-top: 1rem;">
                Update Details
            </button>
        </form>
    </div>
{% endblock %}