{% extends 'base.html' %}

{% block title %}
    Profiles
{% endblock %}

{% block body %}
    <div class="card" style="margin-top: 20px;">
        <h3 style="margin:0 0 1rem 0"> User Profile(s)</h3>
        {% if profiles %}
            {% for profile in profiles %}
                <div style="display: flex; 
                    justify-content: space-between; 
                    align-items: flex-start; 
                    border: 1px solid #ddd; 
                    background-color: #f9f9f9;
                    padding: 15px; 
                    margin-bottom: 10px; 
                    border-radius: 8px;">
                    <div style="flex-grow: 1;">
                       <h4 style="margin: 0 0 10px; font-size: 1.2em; color: #333;">{{ profile.name }}</h4>
                        
                        <p style="margin: 0; color: #666;">
                            <strong>Address:</strong><br>
                            {{ profile.adr1 }}<br>
                            {{ profile.adr2 }}<br>
                            {{ profile.state }} - {{ profile.pin }}
                        </p>
                        
                        <p style="margin: 10px 0 0; color: #666;">
                            <strong>Contact:</strong><br>
                            {% if profile.contact %}{{ profile.contact }}{% else %}N/A{% endif %}<br>
                            {% if profile.email %}{{ profile.email }}{% else %}N/A{% endif %}
                        </p>

                        <p style="margin: 10px 0 0; color: #666;">
                            <strong>GSTIN:</strong> {{ profile.gstin }}
                        </p>
                        
                        <p style="margin: 10px 0 0; color: #666;">
                            <strong>Bank Details:</strong><br>
                            Bank: {{ profile.bankName }}<br>
                            Account No: {{ profile.bankAcc }}<br>
                            IFSC Code: {{ profile.bankIfsc }}
                        </p>
                    </div>
                    
                    <div style="margin-left: 20px; ">
                        <button class="btn-secondary" onclick="window.location.href='edit/{{ profile.userId }}'">
                            <svg xmlns="http://www.w3.org/2000/svg" style="margin: 0 5px 0 0;" width="1.2rem" height="1.2rem" viewBox="0 0 24 24"><path fill="currentColor" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h6.525q.5 0 .75.313t.25.687t-.262.688T11.5 5H5v14h14v-6.525q0-.5.313-.75t.687-.25t.688.25t.312.75V19q0 .825-.587 1.413T19 21zm4-7v-2.425q0-.4.15-.763t.425-.637l8.6-8.6q.3-.3.675-.45t.75-.15q.4 0 .763.15t.662.45L22.425 3q.275.3.425.663T23 4.4t-.137.738t-.438.662l-8.6 8.6q-.275.275-.637.438t-.763.162H10q-.425 0-.712-.288T9 14m12.025-9.6l-1.4-1.4zM11 13h1.4l5.8-5.8l-.7-.7l-.725-.7L11 11.575zm6.5-6.5l-.725-.7zl.7.7z"/></svg>
                            Edit
                        </button>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No profiles found.</p>
        {% endif %}

        <button class="btn-secondary" onclick="location.href='/profile/create'"
>
            Create new Profile
        </button>
    </div>
{% endblock %}